In [11]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
import joblib

In [12]:
df = pd.read_csv('./dataset/Mental_Health_and_Social_Media_Balance_Dataset.csv')

In [13]:
df

,User_ID,Age,Gender,Daily_Screen_Time,Sleep_Quality,Stress_Level,Days_Without_Social_Media,Exercise_Frequency,Social_Media_Platform,Happiness_Index
0,U001,44,Male,3.1,7.0,6.0,2.0,5.0,Facebook,10.0
1,U002,30,Other,5.1,7.0,8.0,5.0,3.0,LinkedIn,10.0
2,U003,23,Other,7.4,6.0,7.0,1.0,3.0,YouTube,6.0
3,U004,36,Female,5.7,7.0,8.0,1.0,1.0,TikTok,8.0
4,U005,34,Female,7.0,4.0,7.0,5.0,1.0,X (Twitter),8.0
...,...,...,...,...,...,...,...,...,...,...
495,U496,23,Male,6.9,5.0,7.0,4.0,2.0,X (Twitter),10.0
496,U497,43,Female,5.6,7.0,6.0,5.0,2.0,Facebook,9.0
497,U498,41,Male,7.7,5.0,7.0,2.0,2.0,LinkedIn,8.0
498,U499,23,Male,4.2,9.0,7.0,0.0,2.0,Facebook,9.0
499,U500,43,Female,5.9,5.0,8.0,3.0,3.0,X (Twitter),7.0

In [14]:
df.describe()

,Age,Daily_Screen_Time,Sleep_Quality,Stress_Level,Days_Without_Social_Media,Exercise_Frequency,Happiness_Index
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,32.988000,5.530000,6.304000,6.618000,3.134000,2.448000,8.376000
std,9.960637,1.734877,1.529792,1.542996,1.858751,1.428067,1.524228
min,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,4.000000
25%,24.000000,4.300000,5.000000,6.000000,2.000000,1.000000,7.000000
50%,34.000000,5.600000,6.000000,7.000000,3.000000,2.000000,9.000000
75%,41.000000,6.700000,7.000000,8.000000,5.000000,3.000000,10.000000
max,49.000000,10.800000,10.000000,10.000000,9.000000,7.000000,10.000000

In [15]:
df = df.drop(columns=["User_ID"])

# 3. Define features and target
X = df.drop(columns=["Happiness_Index"])
y = df["Happiness_Index"]

# 4. Identify categorical features
categorical_cols = ["Gender", "Social_Media_Platform"]

# 5. Preprocessing (One-hot encode categorical)
preprocess = ColumnTransformer(
    transformers=[
        ("cat", OneHotEncoder(handle_unknown="ignore"), categorical_cols)
    ],
    remainder="passthrough"
)

# 6. Build model pipeline
model = Pipeline(steps=[
    ("preprocess", preprocess),
    ("regressor", RandomForestRegressor(n_estimators=200, random_state=42))
])

# 7. Train-test split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

# 8. Train
model.fit(X_train, y_train)

# 9. Evaluate
preds = model.predict(X_test)
mse = mean_squared_error(y_test, preds)
print("MSE:", mse)

# 10. Save model
joblib.dump(model, "happiness_model.pkl")
print("Model saved as happiness_model.pkl")

MSE: 0.8460735000000001
Model saved as happiness_model.pkl